@charset "UTF-8";
/* CSS Document */

.footer-bottom {
	margin-top: 200px;
}

.alt-bg {
	background-color: #f7f7f7;
}

.jumbopic {
	background-image: url("../images/yale1.jpeg");
	background-position: left -210px bottom 10px;
	background-size: cover;
	height: 60vh;
	width: 33%;
	background-repeat: no-repeat;
}